.tasks {
    overflow: hidden;
    display: inline-block;

}

.MessageBlock {
    display: inline-block;
    width: auto;
    float: left;
    text-align: justify;
    margin: 0 10px 10px 0;
    padding: 2px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.btnAdd {
    display: inline-block;
    float: right;
    margin: 0 10px 10px 0;
}